<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <title>Sign In</title>
</head>

<body class="vh-100 d-flex flex-column align-items-center 
bg-black text-white justify-content-around" 
>


  <img src="/images/web/Logo.png" alt="" class="" style="width: 200px;">

  <form class="w-100   p-3 " style="max-width: 350px;"
   action="/user/signin" method="post"
  >

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label ">Email address</label>
        <input type="email" class="form-control " name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <div class="mb-4 ">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>

      <p>
        Create new Account?
        <a href="/user/signup">Sign up</a>
      </p>

      <button type="submit" class="btn btn-dark w-100">
        Sign In
      </button>
  </form>

<div></div>

</body>
<%- include('./partials/scripts') %>
</html>